.sidebar {
  width: 70px;
  background: #fff;
  border-right: 1px solid #eee;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 100%;
    padding: 1.2rem 0;
    text-align: center;
    position: relative;
    color: #222;

    .icon {
      font-size: 2rem;
    }

    .text {
      display: none;
      position: absolute;
      left: 70px;
      top: 50%;
      transform: translateY(-50%);
      background: #222;
      color: #fff;
      padding: 0.4rem 0.8rem;
      border-radius: 4px;
      white-space: nowrap;
    }

    &:hover .text {
      display: block;
    }

    &.active .icon {
      color: #007bff;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
